@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "kumbh Sans", sans-serif;
}
main {
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
    align-items: center;
    grid-template-rows: 1.5fr 2fr;
}
header {
    padding: 4.5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icon-menu {
    width: 8.5%;
    margin-right: 2.5vw;
}
.logo {
    width: 72%;
}
header span:last-child {
    display: flex;
    justify-content: end;
}
.icon-cart, .avatar {
    width: 16%;
    margin-inline: 8%;
}
.carousel {
    width: 100%;
    height: 100%;
    position: relative;
}    
.carousel__track-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.carousel__track {
    list-style: none;
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform ease 0.2s;
}
.carousel__slide {
    position: absolute;
    width: 100%;
    height: 100%;
}
.thumbnails .current-slide {
    opacity: 0.5;
}
.carousel__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.carousel__button {
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 3.5%;
    width: 10%;
    height: 16%;
    border: none;
    border-radius: 50%;
}
.carousel__button img {
    width: 80%;
}
.carousel__button--previous {
    left: 5%;
}
.carousel__button--next {
    right: 5%;
}
.details {
    padding: 6% 0%;
}
.description-section h1 {
    font-size: 0.8rem;
    color: hsl(26, 100%, 55%);
}
.description-section h2 {
    font-size: 1.7rem;
    color: hsl(220, 13%, 13%);
    margin-block: 0.55em;
}
.description-section p {
    color: hsl(219, 9%, 45%);
    line-height: 1.2em;
}
.price-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-block: 1em;
    position: relative;
}
.new-price {
    font-size: 1.6rem;
    font-weight: 700;
}
.discount-percentage {
    background-color: hsl(25, 100%, 94%);
    border-radius: 0.3em;
    color: hsl(26, 100%, 55%);
    font-size: 0.9rem;
    font-weight: 700;
    padding: 0.6% 2%;
    position: absolute;
    left: 32%;
}
.old-price {
    color: hsl(220, 14%, 75%);
    font-weight: 700;
    text-decoration: line-through;
    justify-self: end;
}
.number-added-to-cart {
    background-color: hsl(223, 64%, 98%);
    border-radius: 0.6em;
    font-weight: 700;
    margin: 4% 0;
    padding: 5% 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.add-to-cart {
    background-color: hsl(26, 100%, 55%);
    border: none;
    border-radius: 0.6em;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    padding: 5% 35%;
    width: 105%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add-to-cart img {
    width: 14%;
    margin-bottom: 0.1em;
}

/* hover effects */
.desktop-nav a:hover {
    border-bottom: 0.2em solid hsl(26, 100%, 55%);
    padding-bottom: 2.4em;
}
.avatar:hover {
    border-radius: 50%;
    outline: 0.1em solid hsl(26, 100%, 55%);
}
.thumbnail:hover, .add-to-cart:hover {
    opacity: 0.8;
    cursor: pointer;
}
.icon-minus, .icon-plus:hover {
    cursor: pointer;
}



/* media queries */
@media screen and (max-width: 950px) {
    .desktop {
        display: none;
    }
    :root {
        font-size: 14px;
    }
    body {
        min-width: 350px;
        max-width: 28rem;
        margin: 0 auto;
        box-shadow: 1px 1px 4px 1px hsl(0, 0%, 92%) inset;
    }
}

@media screen and (min-width: 951px) {
    .mobile {
        display: none;
    }
    body {
        width: 100vw;
        height: 80vh;
        padding-inline: 16vw;
    }
    header {
        padding: 1vw 0 2vw 0;
        justify-content: space-between;
        border-bottom: 0.1em solid hsl(220, 14%, 92%);
    }
    header span:last-child {
        margin-right: -0.8rem;
    }
    .logo {
        width: 75%;
    }
    .desktop-nav {
        display: flex;
        margin-left: -24vw;
    }
    .desktop-nav a {
        color: hsl(219, 9%, 45%);
        font-size: 0.7rem;
        margin-inline: 0.4vw;
        text-decoration: none;
    }
    .icon-cart, .avatar {
        margin-inline: 20%;
        align-self: center;
    }
    .icon-cart {
        width: 2vw;
    }
    .avatar {
        width: 2rem;
    }
    main {
        width: 100%;
        height: 28rem;
        padding-block: 2em 0;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        justify-content: center;
        align-items: center;
    }
    .carousel {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1em;
    }
    .carousel__track--container {
        height: 100%;
        padding: 20em 0;
    }
    .carousel__image {
        border-radius: 0.6em;
    }
    .thumbnails {
        display: flex;
        justify-content: space-between;
        margin-top: 6%;
    }
    .thumbnail {
        width: 20%;
        border-radius: 0.6rem;
    }
    .details {
        padding-right: 2%;
        width: 100%;
        display: grid;
        justify-content: end;
    }
    .description-section h1 {
        font-size: 0.7rem;
        margin-top: -2.2em;
    }
    .description-section h2 {
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: 0.8em;
    }
    .description-section p {
        font-size: 0.7rem;
        font-weight: 400;
        line-height: 1.1rem;
        margin-bottom: 0.5em;
    }
    .new-price {
        font-size: 1.3rem;
        font-weight: 700;
        margin-bottom: 4%;
    }
    .discount-percentage {
        font-size: 0.7rem;
        font-weight: 700;
        padding: 0.6% 2%;
        top: 8%;
        left: 27%;
    }
    .old-price {
        font-size: 0.8rem;
        font-weight: 700;
        grid-column: span 2;
        justify-self: start;
        margin-bottom: 0.5em;
    }
    .add-to-cart-section {
        display: grid;
        grid-template-columns: 1.2fr 1.8fr;
        column-gap: 1rem;
        align-items: center;
    }
    .number-added-to-cart {
        font-size: 0.7rem;
        height: 100%;
    }
    .add-to-cart {
        font-size: 0.7rem;
        font-weight: 700;
        padding: 5% 28%;
        height: 100%;
        justify-content: space-between;
    }
    .add-to-cart img {
        width: 14%;
        margin-bottom: 0.1em;
    }    
}

@media screen and (min-width: 1100px) {
    :root {
        font-size: 18px;
    }
    .logo {
        width: 80%;
    }
    .desktop-nav {
        margin-left: -25vw;
    }
    .desktop-nav a {
        font-size: 0.7rem;
    }
}

@media screen and (min-width: 1200px) {
    :root {
        font-size: 20px;
    }
    .logo {
        width: 90%;
    }
    .desktop-nav {
        margin-left: -22vw;
    }
    .desktop-nav a:hover {
        border-bottom: 0.25em solid hsl(26, 100%, 55%);
        padding-bottom: 2.2em;
    }    
    main {
        padding-block: 2vmax 0.4vmax;
    }
    .details {
        justify-content: center;
    }
}

@media screen and (min-width: 1270px) {
    :root {
        font-size: 21px;
    }
}

@media screen and (min-width: 1350px) {
    header {
        padding: 3.2vh 0;
    }
    .logo {
        width: 100%;
    }
    .desktop-nav {
        margin-left: -22vw;
    }
    .desktop-nav a:hover {
        border-bottom: 0.25em solid hsl(26, 100%, 55%);
        padding-bottom: 2em;
    }    
}

@media screen and (min-width: 1450px) {
    :root {
        font-size: 22px;
    }
    .desktop-nav {
        margin-left: -20vw;
    }
}

@media screen and (min-width: 1550px) {
    :root {
        font-size: 23px;
    }
    .logo {
        width: 105%;
    }
    .desktop-nav a:hover {
        border-bottom: 0.25em solid hsl(26, 100%, 55%);
        padding-bottom: 2.1em;
    }    
}

